# Web Scraping uisng BeautifulSoup: Scrape job advertisements in JobsDB

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import os

In [2]:
directory='C:\\Users\\lairx78\\Desktop\\python'
os.chdir(directory)

Create a class to store functions that can scrape job advertisements in JobsDB by selecting occupation and number of pages

In [3]:
class web_scraping:

    def __init__(self, occupation, pages):
        
        self.occupation = occupation  
        self.pages = pages
        self.df_cols = ['job_title', 'company', 'job_description', 'salary', 'location', 'job_highlights', 'job_link']

    def jobsdb_link(self, job_dict):

        url_link = 'https://hk.jobsdb.com'+ job_dict['job_link']

        response_link = requests.get(url_link)
        html_link = response_link.text

        soup_link = BeautifulSoup(html_link, 'lxml')

        # find job description
        job_description = ' '.join(soup_link.find('div',{'data-automation':'jobDescription'}).find_all(string=True))
        job_description = job_description.replace('\xa0', '')
        job_description = job_description + ' '
        job_dict['job_description'] = job_description

        # find addtional information
        for i in range(len(soup_link.find('div',{'class':'z1s6m00 _5135ge0 _5135ge7'}).find_all('div', {'class':'z1s6m00 _1hbhsw6r pmwfa50 pmwfa57'}))):
            addition_info = soup_link.find('div',{'class':'z1s6m00 _5135ge0 _5135ge7'}).find_all('div', {'class':'z1s6m00 _1hbhsw6r pmwfa50 pmwfa57'})[i].find_all(string=True)
            if len(addition_info)>2:
                addition_info=[addition_info[0], ' '.join(addition_info[1:])]
            job_dict[addition_info[0]] = addition_info[1]

        return job_dict
    
    def jobsdb(self, save=False):
        
        job_ad_count=0

        df_job_ad = pd.DataFrame(columns = self.df_cols)

        for p in range(1, self.pages+1):
            
            occupation_dash = self.occupation.replace(' ', '-')
            url = 'https://hk.jobsdb.com/hk/search-jobs/' + occupation_dash + '/' + str(p)

            response = requests.get(url)
            html = response.text
            soup = BeautifulSoup(html, 'lxml')

            outer_most_point=soup.find('div',{'class':'z1s6m00', 'data-automation':'jobListing'})

            # break for loops if no jon advertisment
            if type(outer_most_point)==type(None) or outer_most_point.text=='':
                break

            for i in outer_most_point:
                
                job_dict={}
                job_ad_count+=1

                # find job title
                job_dict['job_title'] = i.find('span',{'class':'z1s6m00'}).text

                # find company
                job_dict['company'] = i.find('span', {'class': 'z1s6m00 bev08l1 _1hbhsw64y _1hbhsw60 _1hbhsw6r'}).text

                # find salary
                # neither salary nor location
                if len(i.find_all('span', {'class': 'z1s6m00 _1hbhsw64y y44q7i0 y44q7i3 y44q7i21 y44q7ih'}))==0:
                    job_dict['salary'] = None
                # salary or location
                elif len(i.find_all('span', {'class': 'z1s6m00 _1hbhsw64y y44q7i0 y44q7i3 y44q7i21 y44q7ih'}))==1:
                    # no location (have salary)
                    if len(i.find_all('span', {'class': 'z1s6m00 bev08l1 _1hbhsw64y _1hbhsw60 _1hbhsw6r'}))==1:
                        job_dict['salary'] = i.find_all('span', {'class': 'z1s6m00 _1hbhsw64y y44q7i0 y44q7i3 y44q7i21 y44q7ih'})[0].text
                # salary and location
                elif len(i.find_all('span', {'class': 'z1s6m00 _1hbhsw64y y44q7i0 y44q7i3 y44q7i21 y44q7ih'}))==2:
                    job_dict['salary'] = i.find_all('span', {'class': 'z1s6m00 _1hbhsw64y y44q7i0 y44q7i3 y44q7i21 y44q7ih'})[1].text

                # find location
                if len(i.find_all('span', {'class': 'z1s6m00 bev08l1 _1hbhsw64y _1hbhsw60 _1hbhsw6r'}))==2:
                    job_dict['location'] = i.find_all('span', {'class': 'z1s6m00 bev08l1 _1hbhsw64y _1hbhsw60 _1hbhsw6r'})[1].text

                # find job highlights
                highlights_len = len(i.find_all('span', {'class': 'z1s6m00 _1hbhsw64y y44q7i0 y44q7i1 y44q7i21 _1d0g9qk4 y44q7i7'}))
                if highlights_len > 0:
                    job_highlights=''
                    for k in range(highlights_len):
                        if k==highlights_len-1:
                            job_highlights = job_highlights + ' ' + i.find_all('span', {'class': 'z1s6m00 _1hbhsw64y y44q7i0 y44q7i1 y44q7i21 _1d0g9qk4 y44q7i7'})[k].text
                        else:
                            job_highlights = job_highlights + ' ' + i.find_all('span', {'class': 'z1s6m00 _1hbhsw64y y44q7i0 y44q7i1 y44q7i21 _1d0g9qk4 y44q7i7'})[k].text + ','
                    job_dict['job_highlights']=job_highlights

                # find job_link
                if len(i.find_all('div',{'class':'z1s6m00 _1hbhsw6ce'}))==2:
                    div_link=i.find_all('div',{'class':'z1s6m00 _1hbhsw6ce'})[1]
                else:
                    div_link=i.find_all('div',{'class':'z1s6m00 _1hbhsw6ce'})[0]
                job_dict['job_link'] = div_link.find('a').attrs['href']

                for key in self.df_cols:
                    if key not in list(job_dict.keys()):
                        job_dict[key] = None

                # find job description and additional info
                job_dict = self.jobsdb_link(job_dict)

                #dave to dataframe
                for col in job_dict.keys():
                    if col not in df_job_ad.columns:
                        df_job_ad[col] = None

                for key in df_job_ad.columns:
                    if key not in list(job_dict.keys()):
                        job_dict[key] = None

                df_job_ad = pd.concat([df_job_ad, pd.Series(job_dict).to_frame().T], ignore_index=True)

        print('Number of job advertisement: ', job_ad_count)
    
        if save==True:
            df_job_ad.to_csv('jobsdb_' + self.occupation + '.csv', index=False)
       
        return df_job_ad

Run the function in the class to do the scraping by input two attributes for __init__ function

There are two attributes:
1. occupation: choosing which type of occupation you wanted to scrape
2. pages: choosing the number of pages you wanted to scrape (each pages contain 30 job advertisements)

In [4]:
# scrape 1 page which is 30 job posts for data analyst

web_scraping('data analyst',1).jobsdb(save=True)

Number of job advertisement:  30

,job_title,company,job_description,salary,location,job_highlights,job_link,Career Level,Qualification,Years of Experience,Job Type,Job Functions,Company Website
0,Senior Data Analyst (Business Planning & Analy...,Hutchison Telecommunications (Hong Kong) Limited,"Responsibilities: Perform various design, deve...",None,Tsing Yi,"Knowledge with programming / data analysis, D...",/hk/en/job/senior-data-analyst-business-planni...,Entry Level,Non-Degree Tertiary,3 years,"Full Time, Permanent","Information Technology (IT) , DBA , Product ...",None
1,Business Analyst / Assistant Business Analyst,BridgeBuilder Company Limited,"To cope with the rapid growth, we are looking...",None,Kwai Hing,"Project Implementation, Good analytical-mind,...",/hk/en/job/business-analyst-assistant-business...,Middle,Non-Degree Tertiary,N/A,"Full Time, Permanent","Information Technology (IT) , Application Spe...",None
2,(Senior) Data Scientist / Engineer - Operation...,"TCL Corporate Research (Hong Kong) Co., Limited",Job Description This role would participate in...,None,Shatin Area,"Perform mathematical modeling, Master Product...",/hk/en/job/senior-data-scientist-engineer-oper...,Middle,None,None,Full Time,"Engineering , Electrical / Electronics , Inf...",None
3,(Senior) Data Scientist,Hong Kong Industrial Artificial Intelligence a...,Hong Kong Industrial Artificial Intelligence a...,None,Tai Po Area,Contribute whole life cycle of product develo...,/hk/en/job/senior-data-scientist-1000030106150...,Middle,Postgraduate,7 years,"Full Time, Permanent","Sales, CS & Business Devpt , Business Develop...",None
4,Analyst - 2023 Graduate Position,AVISTA Valuation Advisory Limited,Service: Business Valuation Location: Hong Kon...,None,Wan Chai,Valuations for financial reporting and transa...,/hk/en/job/analyst-2023-graduate-position-1000...,Entry Level,Degree,N/A,"Full Time, Permanent","Accounting , Financial Analyst , Banking / F...",http://www.avaval.com
5,Business Analyst,Citistore (Hong Kong) Limited,KEY RESPONSIBILITIES: Act as a bridge between ...,None,Tsuen Wan Area,"Manage and monitor various IT projects, Min. ...",/hk/en/job/business-analyst-100003010610793?to...,Middle,Degree,5 years,"Full Time, Permanent","Information Technology (IT) , IT Management ,...",None
6,System Analyst,"Panasonic Hong Kong Co., Limited",What you’ll be doing? Manage and participate i...,None,Mong Kok,Stable MNC in-house exposure with flex work h...,/hk/en/job/system-analyst-100003010617784?toke...,Middle,Non-Degree Tertiary,3 years,"Full Time, Permanent","Information Technology (IT) , Support , Others",http://www.panasonic.com/about/overview.asp
7,Digital Analyst (Ref: MG),Hutchison Telecommunications (Hong Kong) Limited,Responsibilities: Take charge of digital data ...,None,Tsing Yi,"Degree, 4+ yrs e-Commerce & digital marketing...",/hk/en/job/digital-analyst-ref%3A-mg-100003010...,Middle,Degree,5 years,"Full Time, Permanent","Marketing / Public Relations , Digital Market...",None
8,Business Analyst (Financial Services),Hudson,Working as a Business Analyst/ Senior business...,None,None,"Business Analyst, Project Manager, Transforma...",/hk/en/job/business-analyst-financial-services...,Entry Level,Degree,N/A,"Full Time, Permanent","Information Technology (IT) , Product Managem...",https://www.hudson.hk
9,System Analyst (F&B),Kabushikigaisha Limited,Responsibilities: Implements computer system r...,None,Kowloon Bay,"MS SQL database, VB.net and Python, Business ...",/hk/en/job/system-analyst-f-b-100003010607521?...,Entry Level,Non-Degree Tertiary,4 years,Full Time,"Information Technology (IT) , Testing / QA , ...",None
10,"Postdoctoral Researcher, AI and Data Science",Hong Kong Industrial Artificial Intelligence a...,Hong Kong Industrial Artificial Intelligence a...,None,Shatin Area,"5-day work week, Medical & dental benefits, C...",/hk/en/job/postdoctoral-researcher-ai-and-data...,Entry Level,Postgraduate,None,"Full Time, Permanent","Engineering , Electrical / Electronics , Sci...",None
11,Business Analyst x 1 (Working Location: Whampoa),Varmeego Limited,Responsibilities Collect and analyze user requ...,None,None,"Collect and analyze user requirement, Initiat...",/hk/en/job/business-analyst-x-1-working-locati...,Middle,Degree,3 years,Full Time,"Information Technology (IT) , Product Managem...",None
12,Business Data Analyst,Hong Kong Go Limited,Job Description: Responsible for data extracti...,None,Causeway Bay,Data Analysis for a growing e-commerce platfo...,/hk/en/job/business-data-analyst-1000030106189...,Entry Level,None,None,"Full Time, Permanent","Information Technology (IT) , Product Managem...",None
13,Data Analyst,Route 3 (CPS) Company Limited,Carry out data analytics and business analy...,None,Wan Chai,Carry out data analytics and business analysi...,/hk/en/job/data-analyst-100003010615922?token=...,Entry Level,Degree,1 year,"Full Time, Permanent","Transportation & Logistics , Others",None
14,Data Analyst,Lockton Companies (Hong Kong) Ltd,"As part of the Risk Solutions team, the role o...",None,Quarry Bay,"Fresh graduates are also welcome, Part time, ...",/hk/en/job/data-analyst-100003010615131?token=...,Entry Level,Degree,2 years,"Full Time, Permanent","Banking / Finance , Analyst , Professional S...",http://www.global.lockton.com
15,Business Analyst (Sports & Hospitality),ConnectedGroup Limited,This world leading organization is consistentl...,None,None,"Business Analyst, Targeted Segment, Stable wo...",/hk/en/job/business-analyst-sports-hospitality...,Middle,Degree,N/A,"Full Time, Permanent","Professional Services , Business Analysis / D...",http://www.connectedgroup.com
16,Data Analyst (Product),GoAnimate Hong Kong Limited,"VYOND – Data Analyst (Product) AtVYOND, our mi...",None,Sheung Wan,"2+yrs exp in software development, data analy...",/hk/en/job/data-analyst-product-10000301061727...,None,None,None,Permanent,"Information Technology (IT) , Others , Data ...",https://www.vyond.com/
17,Data Analyst - ESF Centre,The English Schools Foundation,We are looking for a data analyst to join our ...,None,None,"Working knowledge of Python, Experience in da...",/hk/en/job/data-analyst-esf-centre-10000301061...,Entry Level,Degree,None,Full Time,"Information Technology (IT) , Application Spe...",http://www.esf.edu.hk
18,Business Analyst (Data),Michael Page,Large-scale properties group Data-driven proje...,"HK$35K - 44,999 /month",None,"Large-scale properties group in Hong Kong, Da...",/hk/en/job/business-analyst-data-1000030106185...,Middle,Degree,N/A,"Full Time, Permanent","Professional Services , Business Analysis / D...",http://www.michaelpage.com.hk
19,Data Analyst (Reinsurance),AXA Hong Kong,Responsibilities: Manage the accuracy and effi...,None,None,Experience in data analytics field is preferr...,/hk/en/job/data-analyst-reinsurance-1000030106...,Entry Level,Degree,3 years,"Full Time, Permanent","Banking / Finance , Others , Professional Se...",https://www.axa.com.hk
20,Data Analyst,Laboratory for AI-Powered Financial Technologi...,The Laboratory for AI-Powered Financial Techno...,None,Shatin Area,"18 days Annual Leave, Medical Insurance, Expe...",/hk/en/job/data-analyst-100003010617709?token=...,None,Degree,None,Full Time,"Banking / Finance , Analyst , Information Te...",None
21,"Data Analyst (Banking, Tableau, Python)",PERSOLKELLY Hong Kong Limited,Our client is a leading financial services gro...,None,Kwun Tong,"1 year experience in building reports, Hands ...",/hk/en/job/data-analyst-banking-tableau-python...,Entry Level,Degree,1 year,Full Time,"Professional Services , Business Analysis / D...",http://www.persolkelly.com.hk
22,Data Analyst (Data Management),Wheelock Properties (Hong Kong) Limited,Responsibilities: Collaborate with internal st...,None,Southern Area,"Provide a spectrum of data services, Strong k...",/hk/en/job/data-analyst-data-management-100003...,Entry Level,Degree,4 years,"Full Time, Permanent","Information Technology (IT) , DBA , Others ,...",None
23,Data Analyst (Quality),GoAnimate Hong Kong Limited,"Data Analyst AtVyond, our mission is to put th...",None,Sheung Wan,"2+ years of experience in data analysis, SQL ...",/hk/en/job/data-analyst-quality-10000301061727...,None,None,None,Permanent,"Information Technology (IT) , Others , Data ...",https://www.vyond.com/
24,AI Data Analyst,Aztech Systems (Hong Kong) Ltd,Responsibilities Work closely with AI Engineer...,None,Shatin Area,None,/hk/en/job/ai-data-analyst-100003010613348?tok...,Entry Level,Degree,2 years,Full Time,"Engineering , Others",http://www.aztech.com.sg
25,Operations Analyst,Asia Airfreight Terminal Co. Ltd.,Duties Prepare and coordinate new system devel...,None,Airport Area,"13 days annual leave, 5-day week, double pay,...",/hk/en/job/operations-analyst-100003010619026?...,Middle,Degree,3 years,"Full Time, Permanent","Transportation & Logistics , Others , Profes...",http://www.aat.com.hk
26,Contract Junior Data Analyst (Subject to renew),Peoplebank Hong Kong Ltd,"Job duties: Identify, measure, review and reva...",None,Kwun Tong,"5 days Work, Less experienced candidates are ...",/hk/en/job/contract-junior-data-analyst-subjec...,Entry Level,Degree,N/A,"Full Time, Contract","Information Technology (IT) , Support , Test...",http://www.peoplebank.com.hk
27,Customer Data Analyst,Century Distribution Systems (Hong Kong) Limited,"In recent years, Century has significantly inv...",None,Kwun Tong,"Excel, Word, Visio, sql, computer, science,, ...",/hk/en/job/customer-data-analyst-1000030106122...,Entry Level,Degree,None,"Full Time, Permanent","Professional Services , Business Analysis / D...",http://www.centurysc.com
28,IT Data Analyst / Database Administrator,Conpak Management Consultants Ltd,Responsibilities: Collaborate with stakeholder...,None,Tsim Sha Tsui,"Offer professional training, Data centric tra...",/hk/en/job/it-data-analyst-database-administra...,None,None,None,"Full Time, Permanent","Information Technology (IT) , Application Spe...",http://www.conpak.com/
29,SQL Data Analytics Consultant,NCSI (HK) Limited,This position has responsibility for the Data ...,None,Kwun Tong,"Leading Data Analytics Solutions Company, Man...",/hk/en/job/sql-data-analytics-consultant-10000...,Middle,Degree,1 year,"Full Time, Permanent","Information Technology (IT) , Product Managem...",http://www.ncs-i.com

After scraping, the function will export a csv file to store all the job advertisements, read it as a dataframe

In [5]:
df_data_analyst = pd.read_csv('jobsdb_data analyst.csv', header=0)

df_data_analyst

,job_title,company,job_description,salary,location,job_highlights,job_link,Career Level,Qualification,Years of Experience,Job Type,Job Functions,Company Website
0,Senior Data Analyst (Business Planning & Analy...,Hutchison Telecommunications (Hong Kong) Limited,"Responsibilities: Perform various design, deve...",NaN,Tsing Yi,"Knowledge with programming / data analysis, D...",/hk/en/job/senior-data-analyst-business-planni...,Entry Level,Non-Degree Tertiary,3 years,"Full Time, Permanent","Information Technology (IT) , DBA , Product ...",NaN
1,Business Analyst / Assistant Business Analyst,BridgeBuilder Company Limited,"To cope with the rapid growth, we are looking...",NaN,Kwai Hing,"Project Implementation, Good analytical-mind,...",/hk/en/job/business-analyst-assistant-business...,Middle,Non-Degree Tertiary,NaN,"Full Time, Permanent","Information Technology (IT) , Application Spe...",NaN
2,(Senior) Data Scientist / Engineer - Operation...,"TCL Corporate Research (Hong Kong) Co., Limited",Job Description This role would participate in...,NaN,Shatin Area,"Perform mathematical modeling, Master Product...",/hk/en/job/senior-data-scientist-engineer-oper...,Middle,NaN,NaN,Full Time,"Engineering , Electrical / Electronics , Inf...",NaN
3,(Senior) Data Scientist,Hong Kong Industrial Artificial Intelligence a...,Hong Kong Industrial Artificial Intelligence a...,NaN,Tai Po Area,Contribute whole life cycle of product develo...,/hk/en/job/senior-data-scientist-1000030106150...,Middle,Postgraduate,7 years,"Full Time, Permanent","Sales, CS & Business Devpt , Business Develop...",NaN
4,Analyst - 2023 Graduate Position,AVISTA Valuation Advisory Limited,Service: Business Valuation Location: Hong Kon...,NaN,Wan Chai,Valuations for financial reporting and transa...,/hk/en/job/analyst-2023-graduate-position-1000...,Entry Level,Degree,NaN,"Full Time, Permanent","Accounting , Financial Analyst , Banking / F...",http://www.avaval.com
5,Business Analyst,Citistore (Hong Kong) Limited,KEY RESPONSIBILITIES: Act as a bridge between ...,NaN,Tsuen Wan Area,"Manage and monitor various IT projects, Min. ...",/hk/en/job/business-analyst-100003010610793?to...,Middle,Degree,5 years,"Full Time, Permanent","Information Technology (IT) , IT Management ,...",NaN
6,System Analyst,"Panasonic Hong Kong Co., Limited",What you’ll be doing? Manage and participate i...,NaN,Mong Kok,Stable MNC in-house exposure with flex work h...,/hk/en/job/system-analyst-100003010617784?toke...,Middle,Non-Degree Tertiary,3 years,"Full Time, Permanent","Information Technology (IT) , Support , Others",http://www.panasonic.com/about/overview.asp
7,Digital Analyst (Ref: MG),Hutchison Telecommunications (Hong Kong) Limited,Responsibilities: Take charge of digital data ...,NaN,Tsing Yi,"Degree, 4+ yrs e-Commerce & digital marketing...",/hk/en/job/digital-analyst-ref%3A-mg-100003010...,Middle,Degree,5 years,"Full Time, Permanent","Marketing / Public Relations , Digital Market...",NaN
8,Business Analyst (Financial Services),Hudson,Working as a Business Analyst/ Senior business...,NaN,NaN,"Business Analyst, Project Manager, Transforma...",/hk/en/job/business-analyst-financial-services...,Entry Level,Degree,NaN,"Full Time, Permanent","Information Technology (IT) , Product Managem...",https://www.hudson.hk
9,System Analyst (F&B),Kabushikigaisha Limited,Responsibilities: Implements computer system r...,NaN,Kowloon Bay,"MS SQL database, VB.net and Python, Business ...",/hk/en/job/system-analyst-f-b-100003010607521?...,Entry Level,Non-Degree Tertiary,4 years,Full Time,"Information Technology (IT) , Testing / QA , ...",NaN
10,"Postdoctoral Researcher, AI and Data Science",Hong Kong Industrial Artificial Intelligence a...,Hong Kong Industrial Artificial Intelligence a...,NaN,Shatin Area,"5-day work week, Medical & dental benefits, C...",/hk/en/job/postdoctoral-researcher-ai-and-data...,Entry Level,Postgraduate,NaN,"Full Time, Permanent","Engineering , Electrical / Electronics , Sci...",NaN
11,Business Analyst x 1 (Working Location: Whampoa),Varmeego Limited,Responsibilities Collect and analyze user requ...,NaN,NaN,"Collect and analyze user requirement, Initiat...",/hk/en/job/business-analyst-x-1-working-locati...,Middle,Degree,3 years,Full Time,"Information Technology (IT) , Product Managem...",NaN
12,Business Data Analyst,Hong Kong Go Limited,Job Description: Responsible for data extracti...,NaN,Causeway Bay,Data Analysis for a growing e-commerce platfo...,/hk/en/job/business-data-analyst-1000030106189...,Entry Level,NaN,NaN,"Full Time, Permanent","Information Technology (IT) , Product Managem...",NaN
13,Data Analyst,Route 3 (CPS) Company Limited,Carry out data analytics and business analy...,NaN,Wan Chai,Carry out data analytics and business analysi...,/hk/en/job/data-analyst-100003010615922?token=...,Entry Level,Degree,1 year,"Full Time, Permanent","Transportation & Logistics , Others",NaN
14,Data Analyst,Lockton Companies (Hong Kong) Ltd,"As part of the Risk Solutions team, the role o...",NaN,Quarry Bay,"Fresh graduates are also welcome, Part time, ...",/hk/en/job/data-analyst-100003010615131?token=...,Entry Level,Degree,2 years,"Full Time, Permanent","Banking / Finance , Analyst , Professional S...",http://www.global.lockton.com
15,Business Analyst (Sports & Hospitality),ConnectedGroup Limited,This world leading organization is consistentl...,NaN,NaN,"Business Analyst, Targeted Segment, Stable wo...",/hk/en/job/business-analyst-sports-hospitality...,Middle,Degree,NaN,"Full Time, Permanent","Professional Services , Business Analysis / D...",http://www.connectedgroup.com
16,Data Analyst (Product),GoAnimate Hong Kong Limited,"VYOND – Data Analyst (Product) AtVYOND, our mi...",NaN,Sheung Wan,"2+yrs exp in software development, data analy...",/hk/en/job/data-analyst-product-10000301061727...,NaN,NaN,NaN,Permanent,"Information Technology (IT) , Others , Data ...",https://www.vyond.com/
17,Data Analyst - ESF Centre,The English Schools Foundation,We are looking for a data analyst to join our ...,NaN,NaN,"Working knowledge of Python, Experience in da...",/hk/en/job/data-analyst-esf-centre-10000301061...,Entry Level,Degree,NaN,Full Time,"Information Technology (IT) , Application Spe...",http://www.esf.edu.hk
18,Business Analyst (Data),Michael Page,Large-scale properties group Data-driven proje...,"HK$35K - 44,999 /month",NaN,"Large-scale properties group in Hong Kong, Da...",/hk/en/job/business-analyst-data-1000030106185...,Middle,Degree,NaN,"Full Time, Permanent","Professional Services , Business Analysis / D...",http://www.michaelpage.com.hk
19,Data Analyst (Reinsurance),AXA Hong Kong,Responsibilities: Manage the accuracy and effi...,NaN,NaN,Experience in data analytics field is preferr...,/hk/en/job/data-analyst-reinsurance-1000030106...,Entry Level,Degree,3 years,"Full Time, Permanent","Banking / Finance , Others , Professional Se...",https://www.axa.com.hk
20,Data Analyst,Laboratory for AI-Powered Financial Technologi...,The Laboratory for AI-Powered Financial Techno...,NaN,Shatin Area,"18 days Annual Leave, Medical Insurance, Expe...",/hk/en/job/data-analyst-100003010617709?token=...,NaN,Degree,NaN,Full Time,"Banking / Finance , Analyst , Information Te...",NaN
21,"Data Analyst (Banking, Tableau, Python)",PERSOLKELLY Hong Kong Limited,Our client is a leading financial services gro...,NaN,Kwun Tong,"1 year experience in building reports, Hands ...",/hk/en/job/data-analyst-banking-tableau-python...,Entry Level,Degree,1 year,Full Time,"Professional Services , Business Analysis / D...",http://www.persolkelly.com.hk
22,Data Analyst (Data Management),Wheelock Properties (Hong Kong) Limited,Responsibilities: Collaborate with internal st...,NaN,Southern Area,"Provide a spectrum of data services, Strong k...",/hk/en/job/data-analyst-data-management-100003...,Entry Level,Degree,4 years,"Full Time, Permanent","Information Technology (IT) , DBA , Others ,...",NaN
23,Data Analyst (Quality),GoAnimate Hong Kong Limited,"Data Analyst AtVyond, our mission is to put th...",NaN,Sheung Wan,"2+ years of experience in data analysis, SQL ...",/hk/en/job/data-analyst-quality-10000301061727...,NaN,NaN,NaN,Permanent,"Information Technology (IT) , Others , Data ...",https://www.vyond.com/
24,AI Data Analyst,Aztech Systems (Hong Kong) Ltd,Responsibilities Work closely with AI Engineer...,NaN,Shatin Area,NaN,/hk/en/job/ai-data-analyst-100003010613348?tok...,Entry Level,Degree,2 years,Full Time,"Engineering , Others",http://www.aztech.com.sg
25,Operations Analyst,Asia Airfreight Terminal Co. Ltd.,Duties Prepare and coordinate new system devel...,NaN,Airport Area,"13 days annual leave, 5-day week, double pay,...",/hk/en/job/operations-analyst-100003010619026?...,Middle,Degree,3 years,"Full Time, Permanent","Transportation & Logistics , Others , Profes...",http://www.aat.com.hk
26,Contract Junior Data Analyst (Subject to renew),Peoplebank Hong Kong Ltd,"Job duties: Identify, measure, review and reva...",NaN,Kwun Tong,"5 days Work, Less experienced candidates are ...",/hk/en/job/contract-junior-data-analyst-subjec...,Entry Level,Degree,NaN,"Full Time, Contract","Information Technology (IT) , Support , Test...",http://www.peoplebank.com.hk
27,Customer Data Analyst,Century Distribution Systems (Hong Kong) Limited,"In recent years, Century has significantly inv...",NaN,Kwun Tong,"Excel, Word, Visio, sql, computer, science,, ...",/hk/en/job/customer-data-analyst-1000030106122...,Entry Level,Degree,NaN,"Full Time, Permanent","Professional Services , Business Analysis / D...",http://www.centurysc.com
28,IT Data Analyst / Database Administrator,Conpak Management Consultants Ltd,Responsibilities: Collaborate with stakeholder...,NaN,Tsim Sha Tsui,"Offer professional training, Data centric tra...",/hk/en/job/it-data-analyst-database-administra...,NaN,NaN,NaN,"Full Time, Permanent","Information Technology (IT) , Application Spe...",http://www.conpak.com/
29,SQL Data Analytics Consultant,NCSI (HK) Limited,This position has responsibility for the Data ...,NaN,Kwun Tong,"Leading Data Analytics Solutions Company, Man...",/hk/en/job/sql-data-analytics-consultant-10000...,Middle,Degree,1 year,"Full Time, Permanent","Information Technology (IT) , Product Managem...",http://www.ncs-i.com